---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2 id="active">
Upcoming presentations
</h2>

{% for post in site.talks reversed %}
  {% if post.upcoming %}

  {% include archive-single-talk.html %}

  {% endif %}
{% endfor %}

<h2 id="active">
Conferences and workshops
</h2>

{% for post in site.talks reversed %}
  {% if post.conferences %}

  {% include archive-single-talk.html %}

  {% endif %}
{% endfor %}

<h2 id="active">
Seminar series
</h2>

{% for post in site.talks reversed %}
  {% if post.seminars %}

  {% include archive-single-talk.html %}

  {% endif %}
{% endfor %}
